@import '../../sass/mixin';
@import '../../sass/variables';

.navBar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "l l l l c c c c s s r r";

    background-color: rgb(230, 230, 230);

    .nav-left {
        grid-area: l;
        margin: auto auto auto 20px;
        .nav-title{
            @include anchor;
            padding-right: 15px;
            font-weight: bolder;
        }
    }

    .nav-center {
        grid-area: c;
        margin: auto;
    }

    .nav-search{
        grid-area: s;
        align-self: center;

        input[type=text] {
            margin-left: 10px;
            padding: 10px;
            font-size: 17px;
            border: none;
            border-radius: 5px 0 0 5px;
            width: 100px;
        }

        .search-container button{
            padding: 10px 15px;
            margin-right: 16px;
            background: white;
            font-size: 17px;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            color: $titleColor;
            &:hover{
                color: $titleColorHover;
            }
      }

    }

    .nav-right {
        grid-area: r;
        // margin: auto;

        display: flex;

        .nav-icon{
            padding: 26px 15px;
            a {
                @include anchor;
            }
        }

        .dropdown:hover{
            background-color: white;
            .dropdown-content {
                display: block;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 120px;
            text-align: left;
            font-size: 13px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding:10px;
            z-index: 1;
        }
        .dropdown-content a {
            color: $titleColor;
            padding: 8px 5px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content:hover {color: $titleColorHover;}



        .hello-userName{
            color: $titleColorHover;
            padding: 8px 5px;
            text-decoration: none;
            display: block;
            font-weight: bolder;
        }


    }
}

