@mixin flexCenter($backGroundColor) {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $backGroundColor;
}

@mixin productCardCollection() {
    display: inline-block;
}

@mixin imgonProductCard($widthSize, $heightSize) {
    width: $widthSize;
    height: $heightSize;
}

@mixin productCard($widthSize, $heightSize, $margin) {
    float: left;
    margin: $margin;
    height: $heightSize;
    width: $widthSize;
}

@mixin nameonproductCard {
    color: rgb(49, 49, 49);
    font-size: 12px;
    padding: 5px 0; 
}

@mixin priceonproductCard {
    font-size: 15px;
    font-weight: 900;
}