@import '../../sass/mixin';
@import '../../sass/variables';

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 220px;
    grid-gap: 1rem;
    padding:1rem;
    justify-items: center;

    img{
        // width:100%;
        height:75%;
    }
    .product-box{
        width: 100%;
    }

    .nameonproductCard {
        @include nameonproductCard;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .priceonproductCard{
        @include priceonproductCard;
    }

}

@media screen and (min-width: $mediumSize){
    .product-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 300px;
    }
}